body{
    max-width: 1600px;
}
#top{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 16px 18px;
   
}
.logo{
    margin:auto 120px;
    width: 140px;
    height: 60px;
}
.features{
    width: 365px;
    height:24px ;
    display:flex;
    gap: 32px;
    font-size: medium;
    margin-right: 80px;
    cursor: pointer;
    
}
#btn{
    /* border: 1px solid white; */
    /* padding: 10px 20px; */
    border-radius: 4px;
    background-color: #469165;
    width: 164px;
    height: 44px;
    margin-right: 50px; 
    

 
}
#btn button{
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
    
}
.background {
    background-image: url(../B13-A01-Knowledge-Vault-main/assets/hero-bg.png);
    width: 1600px;
    height: 674px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    
}
.action-button{
    width: 229px;
    height: 29px;
    border-radius: 20px;
    color: #469165;
    border: 1px solid white;
}
.background h1{
    margin: auto, 16px;
    font-size: 72px;
    line-height: 35px;
    font-family:Inter;
}
#green{
    color: #469165;
}

.butn{
    display: flex;
    justify-content: center;
    gap: 16px;
}

#grn-btn{
    font-weight: bold;
    color: white;
    background-color: #469165;
    width: 251px;
    height: 52px;
     border: 1px solid black;
    border-radius: 4px;
}
#transparent{
    font-weight: bold;
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 5px;
    width: 198px;
    height: 44px;
    color: white;
    background-color: transparent;
}
#para{
    width: 1360px;
    height: 60px;
    font-size: 18px;
    line-height: 30px;
    color: white;

}
.icon-header{
    text-align: center;
}
.icon-headin h1{
    font-size: 48px;
    font-weight: bold;

}
.icon-headin p{
    font-size: 16px;
    line-height: 20px;
    color:#627382;
}
.cards{
    display: flex;
    width: 1360px;
    height: 300px;
    margin: 0 auto;
    gap: 16px
    
    
}
.icon img{
    margin-top: 24px;
    border-radius: 50px;
    height: 32px; */
    width: 32px;
    padding: 20px;
    background-color:#F95555;

}
.icon{
    border: 1px solid whitesmoke;
    width: 322px;
    height: 300px;
    padding: 24px 24px;
    margin-top: 50px;
    box-shadow: 0px 4px 4px 0px #627382;
    
}