body{
    max-width: 1600px;
}
#top{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 16px 18px;
   
}
.logo{
    margin:auto 120px;
    width: 140px;
    height: 60px;
}
.features{
    width: 365px;
    height:24px ;
    display:flex;
    gap: 32px;
    font-size: medium;
    margin-right: 80px;
    cursor: pointer;
    
}
#btn{
    /* border: 1px solid white; */
    /* padding: 10px 20px; */
    border-radius: 4px;
    background-color: #469165;
    width: 164px;
    height: 44px;
    margin-right: 50px; 
    

 
}
#btn button{
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
    
}
.background {
    background-image: url(../B13-A01-Knowledge-Vault-main/assets/hero-bg.png);
    width: 1600px;
    height: 674px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    
}
.action-button{
    width: 229px;
    height: 29px;
    border-radius: 20px;
    color: #469165;
}
.background h1{
    margin: auto, 16px;
    font-size: 72px;
    line-height: 35px;
    font-family:<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">;
    /* height: ; */
}
#green{
    color: #469165;
}
