body{
    max-width: 1600px;
}
#top{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 16px 18px;
   
}
.logo{
    margin:auto 120px;
    width: 140px;
    height: 60px;
}
.features{
    width: 365px;
    height:24px ;
    display:flex;
    gap: 32px;
    font-size: medium;
    margin-right: 80px;
    cursor: pointer;
    
}
#btn{
    /* border: 1px solid white; */
    /* padding: 10px 20px; */
    border-radius: 4px;
    background-color: #469165;
    width: 164px;
    height: 44px;
    margin-right: 50px; 
    

 
}
#btn button{
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
    
}
#note div{
    width: 1600px;
    height: 448px;
}
